<h1>Edit Your Dream</h1>

<%= form_for(@dream) do |f| %>

<div>
  <%= f.label :title %>
  <%= f.text_field :title %><br><br>
</div>
<div>
  <%= f.label :content %>
  <%= f.text_area :content %>
</div>

<%= submit_tag "Edit Dream" %>

<% end %>