<h1>All Dreams</h1>
<%# using a form_tag bc we aren't creating/updating/editing an object, we're searching for the title or attribute of many dreams (only querying data/parameters) and then we compare the search terms. We wanna keep a broader search, as opposed to form_for where we would be stuck with exact attributes of object we're searching. We don't wanna limit ourselves to just the attributes %>
<%= form_tag("/dreams", method: 'get') do %> <%# we use a get request instead of post request bc it sends the parameters into the URL - this is important because when you copy, paste and share URL it saves the search params to go to that exact page %>
<%= label_tag(:q, "Search for:") %>
<%= text_field_tag(:q) %>
<%= submit_tag("Search") %>
<% end %>

<%# if @dreams.empty? %>

<%# <h2>No dreams yet! Post your dream <%= link_to "here", new_dream_path %>

<% @dreams.each do |dream| %>
<h2><%= link_to dream.title, dream_path(dream.id) %></h2>
<h3><em><%= dream.theme.name %></em></h3>
<p><%#= dream.content %></p>
by: <%= dream.user.username %>
<%#= link_to "Write a Reaction", new_dream_reaction_path(dream.id) if dream.user != current_user %>

<% end %>
