<h2><%= @dream.title %></h2>
<h3><em><%= @dream.theme.name %></em></h3>
<p><%= @dream.content %></p><br>

by: <%= @dream.user.username %><br>
<%= link_to "Edit #{@dream.title}", edit_dream_path(@dream) if @dream.user == current_user %><br>
<%= link_to "Write a Reaction", new_dream_reaction_path(@dream.id) if @dream.user != current_user %>